table {
  width: 100%;
  font-size: 20px;
}

th {
  font-size: 14px;
}

.mat-cell {
  font-style: italic;
}

.loading-spinner {
  padding: 20px;
  background: rgb(209, 209, 209);
  display: flex;
  align-items: center;
  justify-content: center;
}
